/.mixin.out
/.vscode
/backups
/blueprints
/config
/crash-reports
/defaultconfigs
/ESM
/essential
/fancymenu_data
/kubejs/README.txt
/local
/localconfigs
/logs
/mod_data
/modernfix
/mods
/patchouli_books
/profileImage
/quests_structures
/resourcepacks
/saves
/schematics
/screenshots
/shaderpacks
/tacz*
/Tools/key
/Tools/repo
.curseclient
emi.json
knownkeys.txt
.qmenu_opened.marker
ds_private_storage.json
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json