/.mixin.out
/.vscode
/backups
/blueprints
/config
/crash-reports
/datapacks
/defaultconfigs
/downloads
/ESM
/essential
/fancymenu_data
/kubejs/README.txt
/local
/localconfigs
/logs
/mod_data
/modernfix
/mods
/patchouli_books
/portable_blueprints
/profileImage
/quests_structures
/resourcepacks
/saves
/schematics
/screenshots
/shaderpacks
/tacz*
/tools
.curseclient
knownkeys.txt
.qmenu_opened.marker
ds_private_storage.json
minecraftinstance.json
oc2rnet.dll
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
user-prefs.json
usercache.json
usernamecache.json