/.mixin.out
/.vscode
/backups
/blueprints
/config
/crash-reports
/datapacks
/defaultconfigs
/downloads
/ESM
/essential
/fancymenu_data
/kubejs/README.txt
/local
/localconfigs
/logs
/mccm
/mod_data
/modernfix
/mods
/moonlight-global-datapacks
/patchouli_books
/portable_blueprints
/profileImage
/quests_structures
/resourcepacks
/saves
/schematics
/screenshots
/shaderpacks
/tacz_*
/world
.curseclient
banned-ips.json
banned-players.json
eula.txt
forge-1.20.1-47.4.10-installer.jar
forge-1.20.1-47.4.10-installer.jar.log
knownkeys.txt
.qmenu_opened.marker
ds_private_storage.json
minecraftinstance.json
oc2rnet.dll
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
user-prefs.json
usercache.json
usernamecache.json
liboc2rnet.so
/libraries
ops.json
run.bat
run.sh
server.properties
whitelist.json